.results-container {
	background-color: rgba(32, 10, 62, 0.95);
	color:rgb(206, 200, 224);
	padding: 12px;
	width: 360px;
	margin: 8px;
	border-radius: 4px;
}

.results-container h2 {
	margin: 0;
	font-weight: 600;
	color:rgb(245, 245, 246)
}

.track {
	margin-top: 4px;
	border-style: none none solid none;
	border-width: 2px;
	border-color: rgb(131, 125, 143);
	display: flex;
	justify-content: space-between;
}

.trackName {
	font-size: 16px;
	font-weight:500;
	margin: 0;
}

.artist {
	margin-top: 0;
	font-size: 16px;
	font-weight: 300;
	color:rgb(180, 172, 202);
}

#trackButton {
	font-size: 16px;
	font-weight:500;
	margin: 0;
	padding: 0;
	text-align: right;
	background: transparent;
	color:rgb(206, 200, 224);
	width: 4%;
	position: relative;
	bottom: 4px
}

