.results-container {
	background-color: rgba(32, 10, 62, 0.95);
	color:rgb(206, 200, 224);
	padding: 12px;
	width: 360px;
	margin: 8px;
	border-radius: 4px;
}

.results-container h2 {
	margin: 0;
	font-weight: 600;
	color:rgb(245, 245, 246)
}

