.playlist {
	background-color: rgba(26, 6, 52, 0.95);
	color:rgb(206, 200, 224);
	padding: 8px;
	width: 270px;
	margin: 8px;
	margin-left: 12px;
	border-radius: 4px;
	overflow-x: scroll;
  max-height: 400px;
}

.playlist input{
	background: transparent;
	color: rgb(206, 200, 224);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 24px;
	font-weight: 600;
	text-align: left;
	border-style: none none solid none;
	border-color: rgba(63, 59, 70, 1);
}

.playlist button {
	display: block;
	margin: 0 auto;
}

#saveButton {
	margin-top: 16px;
}